<div class="card mt-3 shadow-md">
  <div class="card-body">
    <div class="row mb-4">
      <div class="col-md-9">
        <h5 class="card-title title">{{ job.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted companyname">
          {{ job.companyname }}
        </h6>
      </div>
      <div class="col-md-3">
        <a  [href]="job.applylink" target="_blank" class="btn btn-primary w-100">Apply now</a>
      </div>
    </div>
    <p class="card-text jd" *ngIf="!fullContent; else content">
      {{ job.jd | slice: 0:200 }}
      <a
        (click)="readMore()"
        href="#"
        class="read-more"
        *ngIf="job.jd.length > 200"
      >
        read more...</a
      >
    </p>

    <ng-template #content>
      <p>{{ job.jd }}</p>
    </ng-template>


    <div class="row">
      <div class="col-md-4" *ngIf="job.experience">
        <p class="feature">Experience</p>
        <p class="feature-sub">{{ job.experience }}</p>
      </div>
      <div class="col-md-4" *ngIf="job.location">
        <p class="feature">Location</p>
        <p class="feature-sub">{{ job.location }}</p>
      </div>
      <div class="col-md-4" *ngIf="job.skills">
        <p class="feature">Skills</p>
        <p class="feature-sub">{{ job.skills }}</p>
      </div>
      <div class="col-md-4" *ngIf="job.startdate">
        <p class="feature">Posted on</p>
        <p class="feature-sub">{{ job.startdate | transformDate }}</p>
      </div>
      <div class="col-md-4" *ngIf="job.enddate">
        <p class="feature">Expiring on</p>
        <p class="feature-sub" *ngIf="job.enddate">{{ job.enddate | transformDate }}</p>
      </div>
    </div>
  </div>
</div>

