.btn-primary {
  background: #482ded;
  border-radius: 5px;
  border: none;
}

.card {
  border: 0px;
  background: #ffffff;
  border-radius: 5px;
}

.title {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #7b7b7b;
}

.companyname,
.jd {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #a6a6a6;
}

.feature {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #7b7b7b;
  margin-bottom: 0.2em;
}

.feature-sub {
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #a6a6a6;
}

.read-more {
  font-size: 16px;
  line-height: 19px;
  color: #6048f0;
}


