.form-control {
  border-right: 2px;
  border-color: #bababa;
  border-radius: 0px;
  height: 60px;
  padding-left: 2em;
  padding-right: 2em;
}

.btn{
  border-radius: 0px;
  padding-left: 4em;
  padding-right: 4em;
}

.g-text {
  border-radius: 0px;
}

@media only screen and (max-width: 1000px) {
  .input-group{
   flex-direction: column;
  }

  .form-control {
    width: 100%;
    margin-left: -1px !important;
  }

  .search {
    width: 100%;
  }

}
