<div class="input-group mb-3">
  <input
    type="text"
    [(ngModel)]="searchModel.skills"
    class="form-control"
    placeholder="Skill"
  />
  <input
    type="text"
    class="form-control"
    [(ngModel)]="searchModel.locations"
    placeholder="Location"
  />

  <span class="d-flex">
    <input
    type="number"
    [min]="0"
    (change)="resetExperience()"
    class="form-control"
    [(ngModel)]="searchModel.experience"
    placeholder="Experience" />
    <span class="input-group-text g-text">years</span>
  </span>

  <div class="input-group-append">
    <button class="btn btn-success search" (click)="search()">search</button>
  </div>
</div>
