
/* style header to align the contents to be centered using flex-box properties */
header {
  width: 100%;
  height: 450px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#0303038a, #0e0e0ed1), url(src/assets/background.jpg) no-repeat center center;
}

.search-title {
  font-weight: bold;
  font-size: 27px;
  line-height: 32px;
  text-transform: uppercase;
  color: #CACACA;
}


.modal.show {
  display:block;
}

.modal.fade.show {
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-dialog{
  overflow-y: initial !important
}
.modal-body{
  max-height: 70vh;
  overflow-y: auto;
}
