<header>
  <div class="search">
    <h2 class="search-title">Search jobs</h2>
    <app-search (searchEvent)="search($event)"></app-search>
  </div>
</header>

<div class="container-fluid mt-4">
  <div class="row" *ngIf="filteredJobsList">
    <div class="col-md-10 mx-auto">

      <div class="row">
        <div class="col-md-6" *ngFor="let job of filteredJobsList | slice: 0 : limit; index as i">
          <app-job-details-card (openModal)="openModal($event)" [job]="job"></app-job-details-card>
        </div>
      </div>

      <div class="row" *ngIf="filteredJobsList.length > limit">
        <div class="col-md-6 mx-auto">
          <button class="btn btn-success w-100 my-4" (click)="viewMore()">View more</button>
        </div>
      </div>

        <div class="row" *ngIf="filteredJobsList && filteredJobsList.length === 0">
            <h2>No results to display</h2>
        </div>

    </div>
  </div>

  <div class="row" *ngIf="!jobsList">
    <p>loading...</p>
  </div>
</div>

<!-- display modal -->
<div [ngClass]="{'show': showModal}" class="modal fade"  role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
        <button type="button" class="close" data-dismiss="modal" (click)="closeModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="selectedJobIndex > -1">
        <app-job-details-card [job]="filteredJobsList[selectedJobIndex]" [fullContent]="true"></app-job-details-card>
      </div>

    </div>
  </div>
</div>
